@model PaginatedList<Iep.Models.Database.Auction>
@{
    string base64;
    int cnt = 0;
    int x = Model.Count;
}
         
     <div class="container">
    

        @foreach (var item in Model)
        {
          
            base64 = Convert.ToBase64String(item.image);
            if(cnt%4==0)
            {
                @Html.Raw("<div class = 'row'>")
            }
            cnt++;
              @Html.Raw("<div class = 'col-md-3'>  <div class='d-flex justify-content-center'>")
             @Html.Raw("<table class = 'table center' style = 'text-align:center'> <tr> <th>")
                 @item.name
                    @Html.Raw("</th></tr><tr><td>")
                 <img src = "data:image/png;base64, @base64" width="200px" height="100px">
                   @Html.Raw("</td></tr><tr><td>")
                      @item.currentPrice <span> din</span>
                @Html.Raw("</td></tr><tr><td>")
                    @item.winner
                      @Html.Raw("</td></tr><tr><td>")
                           <input type="submit" value="BID" class="btn btn-success" />
                            @Html.Raw("</td></tr></table>")
                           
                   @Html.Raw("</div> </div>")
                if(cnt%4==0 || cnt==x)
                {
                      @Html.Raw("</div>")
                }
        }
    @{
    var prevDisabled = !Model.PreviousPage ? "disabled": "";
     var nextDisabled = !Model.NextPage ? "disabled": "";
}
<div class="row">
    <div class="col">
         <div class="d-flex justify-content-center">
       <a asp-action = "AuctionPreview"
    asp-route-pageNumber = "@(Model.PageIndex-1)"
    class = "btn btn-default @prevDisabled">
    Previous
    </a>
    <a asp-action = "AuctionPreview"
    asp-route-pageNumber = "@(Model.PageIndex+1)"
    class = "btn btn-default @nextDisabled">
    Next
    </a>
   </div>
    </div>
  

</div>

    </div>
