@model PaginatedList<Iep.Models.Database.Auction>
<div class="row">

    <div class="col-sm-6">
        <h1>Welcome to admin view </h1>
    </div>
</div>
<div class="row">
    <div class="col-sm-2" style="margin: 10px 0 40px 0;">
          <a asp-action="allUsers" > All Users </a>  
    </div>
    <div class="col-md-10">
        <table class="table table-striped">
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Open Date
                </th>
                  <th>
                    Close Date
                </th>
                <th>
                    State
                </th>
                <th colspan="2">
                    Options
                </th>
            </tr>
            @foreach (var item in Model)
            {       
                     <tr id ="@item.Id">
                    <td>
                        @item.name
                    </td>
                    <td>
                        @item.openDate
                    </td>
                       <td>
                        @item.closeDate
                    </td>
                    <td>
                        @item.state
                    </td>  
                    <td>
                     <a asp-action="confirmAuction" asp-route-id = "@item.Id"> Confirm </a>      </td>
                      <td>
                       <a asp-action="dismissAuction" asp-route-id = "@item.Id"> Delete </a>
                    </td>    
                </tr>
                @if(@item.state == "EXPIRED" || @item.state=="DELETED")
                {
                    <script>
                    function disableDiv()
                    {
                      var x = "" + @item.Id;
                    document.getElementById(x).style.pointerEvents = "none"
                     document.getElementById(x).style.opacity = "0.4"
                        alert(elem)
                    } disableDiv();
                </script>
                }
            }
        </table>
    </div>
</div>
    @{
    var prevDisabled = !Model.PreviousPage ? "disabled": "";
     var nextDisabled = !Model.NextPage ? "disabled": "";
    }
<div class="row">
    <div class="col">
         <div class="d-flex justify-content-center">
       <a asp-action = "AdminView"
    asp-route-pageNumber = "@(Model.PageIndex-1)"
    class = "btn btn-default @prevDisabled">
    Previous
    </a>
    <a asp-action = "AdminView"
    asp-route-pageNumber = "@(Model.PageIndex+1)"
    class = "btn btn-default @nextDisabled">
    Next
    </a>
   </div>
    </div>
  

</div>

    </div>



