@model PaginatedList<Iep.Models.Database.Auction>

@{
    ViewData["Title"] = "My Auctions";
}


<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Open Date
                </th>
                <th>
                    State
                </th>
                <th colspan="2">
                    Options
                </th>
            </tr>
            @foreach (var item in Model)
            {
                
                
                     <tr id ="@item.Id">
                    <td>
                        @item.name
                    </td>
                    <td>
                        @item.openDate
                    </td>
                    <td>
                        @item.state
                    </td>  
                    <td>
                     <a asp-action="editAuction" asp-route-id = "@item.Id"> Edit </a>          </td>
                      <td>
                       <a asp-action="deleteAuction" asp-route-id = "@item.Id"> Delete </a>
                    </td>    
                </tr>
                @if(@item.state != "DRAFT")
                {
                    <script>
                    function disableDiv()
                    {
                      var x = "" + @item.Id;
                    document.getElementById(x).style.pointerEvents = "none"
                     document.getElementById(x).style.opacity = "0.4"
                        alert(elem)
                    } disableDiv();
                </script>
                }
                

               

            }
        </table>
    </div>
</div>
   @{
    var prevDisabled = !Model.PreviousPage ? "disabled": "";
     var nextDisabled = !Model.NextPage ? "disabled": "";
}
<div class="row">
    <div class="col-sm-12">
            <div class="d-flex justify-content-center">
                <a asp-action="myAuctions"
                    asp-route-sortOrder="@ViewData["CurrentSort"]"
                    asp-route-pageNumber="@(Model.PageIndex - 1)"
                    asp-route-currentFilter="@ViewData["CurrentFilter"]"
                    class="btn btn-default @prevDisabled">
                        Previous
                </a>
                <a asp-action="myAuctions"
                    asp-route-sortOrder="@ViewData["CurrentSort"]"
                    asp-route-pageNumber="@(Model.PageIndex + 1)"
                    asp-route-currentFilter="@ViewData["CurrentFilter"]"
                    class="btn btn-default @nextDisabled">
                        Next
                </a>
            </div>
   </div>
    </div>
  

</div>


